<footer class="text-gray-300 pb-16 pt-28">
  <!-- Top line -->
  <hr class="border-gray-600 mx-auto w-full max-w-screen-xl mb-10" />

  <!-- Main content -->
  <div class="container mx-auto px-8 grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Business Hours -->
    <div>
      <h2 class="text-lg font-semibold mb-4 text-white">Business Hours</h2>
      <div class="grid grid-cols-2 gap-3">
        <p class="text-sm">Monday - Friday</p>
        <p class="text-sm">7:00 AM - 7:00 PM</p>
        <p class="text-sm">Saturday</p>
        <p class="text-sm">7:00 AM - 12:00 PM</p>
        <p class="text-sm">Sunday</p>
        <p class="text-sm">Closed</p>
      </div>
    </div>

    <!-- Quick Links -->
    <div>
      <h2 class="text-lg font-semibold mb-4 text-white">Quick Links</h2>
      <ul class="text-sm grid grid-cols-2 gap-3">
        <li><a href="/" class="hover:underline">Home</a></li>
        <li><a href="/about" class="hover:underline">About</a></li>
        <li><a href="/projects" class="hover:underline">Projects</a></li>
        <li><a href="/#services" class="hover:underline">Services</a></li>
        <li><a href="/#contact" class="hover:underline">Contact</a></li>
      </ul>
    </div>

    <!-- Contact Us -->
    <div>
      <h2 class="text-lg font-semibold mb-4 text-white">Contact Us</h2>
      <div class="flex flex-col gap-3">
        <p class="text-sm">
          Email: <a href="mailto:Victor@egmechanic.com" class="hover:underline"
            >Victor@egmechanic.com</a
          >
        </p>
        <p class="text-sm">
          Phone: <a href="tel:+1 (571) 395-7221" class="hover:underline"
            >+1 (571) 395-7221</a
          >
        </p>
      </div>
    </div>
  </div>
  <!-- Bottom line -->
  <hr class="border-gray-600 mx-auto w-full max-w-screen-xl mt-10 mb-6" />

  <!-- Copyright -->
  <div class="text-center text-sm max-w-screen-lg mx-auto text-gray-400">
    EG Mechanical
  </div>
</footer>
