---
import ServiceCard from "../components/ServiceCard.astro";
---

<section id="services" class="background-container flex justify-center pt-28">
  <div class="container flex flex-col gap-5 mx-auto px-8">
    <h2
      class="text-4xl md:text-5xl font-bold text-center md:text-left z-index-1"
    >
      Our Services
    </h2>
    <p
      class="text-base text-center w-full md:w-1/2 md:text-left md:text-balance opacity-80 z-index-1"
    >
      Expert HVAC services tailored to keep your space comfortable <br
        class="lg:hidden md:hidden"
      /> and efficient, every season.
    </p>

    <div class="grid mt-10 sm:mt-8 grid-cols-1 md:grid-cols-2 gap-6">
      <ServiceCard
        icon="/icons/hvac.svg"
        title="Air Conditioning"
        content="Keep your space cool and comfortable all year long."
        background="bg-black"
        gradient="bg-gradient-to-br from-blue-600 to-green-400"
        pills={[
          "AC Repair",
          "Maintenance",
          "Installation",
          "Ductless",
        ]}
      />
      <ServiceCard
        icon="/icons/heat-pump.svg"
        title="Heating"
        content="Stay warm and toasty during those cooler months."
        background="bg-black"
        gradient="bg-gradient-to-br from-red-800 to-pink-400"
        pills={[
          "Maintenance",
          "Repairs",
          "Installation",
          "Gas or electric furnaces",
          "Boilers",
          "Tankless",
          "Mini splits",
        ]}
      />
      <ServiceCard
        icon="/icons/plumbing-services.svg"
        title="Plumbing"
        content="Expert plumbing solutions for leaks, logs installation."
        background="bg-black"
        gradient="bg-gradient-to-r from-purple-600 to-pink-400"
        pills={[
          "Diagnostic",
          "Repairs",
          "Leak detection",
          "Clogs",
          "Water heaters",
          "Fixture replacement",
        ]}
      />
      <ServiceCard
        icon="/icons/gas-meter.svg"
        title="Gas"
        content="Maintaining your system safe and leak free."
        background="bg-black"
        gradient="bg-gradient-to-br from-orange-600 to-yellow-400"
        pills={[
          "Leak detection",
          "New lines",
          "Installation",
          "Repairs",
        ]}
      />
    </div>
  </div>
</section>

<style>
  /* Background container */
  .background-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #0000;
    overflow: hidden; /* Hide overflow from animations */
  }

  /* Gradient layers */
  .background-container::before,
  .background-container::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 30%;
    width: 500px;
    height: 300px;
    background: radial-gradient(
      circle,
      rgba(255, 69, 142, 0.6),
      transparent 40%
    );
    filter: blur(100px);
    transform: translate(-50%, -50%) scale(1);
    animation: moveGradient 6s infinite alternate ease-in-out;
    z-index: 0;
  }

  /* Second gradient layer */
  .background-container::after {
    background: radial-gradient(
      circle,
      rgba(69, 142, 255, 0.6),
      transparent 40%
    );
    animation-delay: 3s;
  }

  /* Gradient animation */
  @keyframes moveGradient {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      transform: translate(calc(-50% + 50px), calc(-50% - 50px)) scale(1.5);
    }
  }
</style>
